*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(44, 44, 44);
    height: 1400px;
}

::-webkit-scrollbar{
background-color:rgb(44, 44, 44); 
border:1px solid  rgb(142, 140, 134);
/* border-radius: 30px; */
}


::-webkit-scrollbar-thumb{
 background-color: rgb(120, 114, 114);   
}

::-webkit-scrollbar-thumb:hover{
 background-color: white;
}


header > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 15px;
 
}    


header > div> div> img{
width: 150px;

}


header i:first-of-type{
    font-size: 50px;
    color: white;
}


header input{
    color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    width: 400px;
}


header button{
    width: 200px;
    border-radius: 30px;
}

header >div:first-of-type > button  > i {
 display: flex;
 align-items: center;
 color: rgb(66, 63, 63);
font-size: 30px;
padding:10px ;
}


header >div > button {
    display: flex;
    align-items: center;
  
}


section{
    padding: 15px ;
}



section > div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 30px;
}


section >div:first-of-type>a{
    color: white;
    text-decoration: none;
}

section >div:last-of-type{
   display: flex;
   gap: 10px;
  overflow: auto;
  padding-bottom: 8px;
}

.pic{
   border: 3px solid transparent;
   transition: 0.3s;
   border-radius: 8px;

}

.pic:hover{

    border-color: rgb(132, 123, 141);
}





